<header>
    <div id="header-logo"><a href="/"><img src="/uploads/ACTUALPNG-logo.png" height="100" alt="logo"></a></div>

    <nav id="role-nav">
        <ul>
            <li><a href="/" class="navlink"><i class="fas fa-home"></i> Home</a></li>
            <li><a href="/produkt" class="navlink"><i class="fas fa-store"></i> Products</a></li>
            <li><a href="/admin" class="navlink"><i class="fas fa-tools"></i> Admin</a></li>
            <li><a href="/profile" class="navlink"><i class="fas fa-user-alt"></i> Profile</a></li>
        </ul>
    </nav>
    <div id="login_logout">
        <% if (login === false) { %>
        <a href="/login" class="header-login">Log Ind</a>
        <% } else { %>
        <a href="/shopping-cart" class="shoppingcart"><i class="fas fa-shopping-cart"></i> ShoppingCart</a>
        <a href="/auth/logout" class="header-logout">Log ud</a>

        <% } %>
    </div>
</header>