<% include partials/head %>
<% include partials/header %>
<h1><%= home.title %></h1>
<img src="./uploads/<%= home.image %>" alt="Content page image">
<p><%= home.text %></p>
<main id="content">
    <figure>
        <h3></h3>
        <img src="" alt="">
    </figure>
</main>
<% include partials/footer %>
<% include partials/after-footer %>