
<form action="/admin/produkt/opret" method="POST" enctype="multipart/form-data" id="update_create">
    <label for="name">Navn</label>
    <input type="text" name="name">
    
    <label for="description">Beskrivelse</label>
    <textarea name="description"></textarea>
    
    <label for="image">Billede</label>
    <input type="file" name="image">

    <label for="price">Pris</label>
    <input type="number" name="price">
    
    <button type="submit">+ Opret</button>
</form>

<% include ./partials/footer %>