<% include partials/head %>
<% include partials/header %>

<h1>Login</h1>
<form action="/auth/login" method="POST" enctype="multipart/form-data" class="login">
	<% if (typeof status != 'undefined') { %>
		<span class="errorMessage"><%= status %></span>
	<% } %>
	<div class="inputGroup">
		<label>
			Brugernavn
			<input type="text" name="username">
		</label>
	</div>
	<div class="inputGroup">
		<label>
			Adgangskode
			<input type="password" name="password">
		</label>
	</div>
	<button type="submit" class="loginbutton">Log ind</button> <button class="signupbutton"><a href="/opret-bruger">Opret Bruger</a></button>
</form>

<% include partials/footer %>
<% include partials/after-footer %>