<% include partials/head %>
<% include partials/header %>
    <form action="/auth/opret-bruger" method="post" enctype="multipart/form-data">
        <label for="">Brugernavn: </label><br>
        <input type="text" name="username" value="<%= (typeof username != 'undefined') ? username : '' %>" required><br>
        
        <br>

        <label for="">Adgangskode: </label><br>
        <input type="password" name="password" required><br>

        <br>

        <label for="">Gentag adgangskode: </label><br>
        <input type="password" name="passwordCheck" required><br>

        <br>

        <button type="submit">Opret Bruger</button>
        <p><%= (typeof errorMessage != 'undefined') ? errorMessage : '' %></p>
    </form>
<% include partials/footer %>
<% include partials/after-footer %>