<% include ./partials/head %>
<% include ./partials/header %>

<form action="/admin/home/rediger/<%= mainResults[0].id %>" method="POST" enctype="multipart/form-data" id="update_create">
    <label for="name">Navn</label>
    <input type="text" name="title" value="<%= mainResults[0].title %>">
    
    <label for="description">Beskrivelse</label>
    <textarea name="text"><%= mainResults[0].text %></textarea>
    
    <label for="image">Billede</label>
    <input type="file" name="image">
    
    <button type="submit">Rediger</button>
</form>

<% include ./partials/footer %>